# dependencies
/node_modules

# build
/dist
/index.*
/*.d.ts
/chunk-*.mjs
/chunk-*.js
/components
/contexts
/hooks
/theme
/src/styles
/storybook-static

# WebStorm
/.idea

# VS Code
/.vscode

# Docs
/CHANGELOG.md