@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 250 250 250; /* rgb(250 250 250) */
    --black: 28 28 28; /* rgb(28, 28, 28) */

    --text-color: 28 28 28; /* rgb(28 28 28) */

    --primary-100: 153 206 255; /* rgb(153, 206, 255) 60% */
    --primary-200: 115 187 255; /* rgb(115, 187, 255) 45% */
    --primary-300: 77 169 255; /* rgb(77, 169, 255) 30% */
    --primary-400: 38 150 255; /* rgb(38, 150, 255) 15% */
    --primary-500: 0 132 255; /* rgb(0, 132, 255) */
    --primary-600: 0 112 217; /* rgb(0, 112, 217) 15% */
    --primary-700: 0 92 179; /* rgb(0, 92, 179) 30% */
    --primary-800: 0 73 140; /* rgb(0, 73, 140) 45% */
    --primary-900: 0 53 102; /* rgb(0, 53, 102) 60% */

    --success-100: 125 255 162; /* rgb(125, 255, 162) */
    --success-200: 77 255 127; /* rgb(77, 255, 127) */
    --success-300: 28 255 92; /* rgb(28, 255, 92) */
    --success-400: 0 235 66; /* rgb(0, 235, 66) */
    --success-500: 0 186 52; /* rgb(0, 186, 52) */
    --success-600: 0 158 44; /* rgb(0, 158, 44) */
    --success-700: 0 130 36; /* rgb(0, 130, 36) */
    --success-800: 0 102 29; /* rgb(0, 102, 29) */
    --success-900: 0 74 21; /* rgb(0, 74, 21) */

    --warning-100: 255 207 151; /* rgb(255, 207, 151) */
    --warning-200: 255 189 111; /* rgb(255, 189, 111) */
    --warning-300: 255 171 72; /* rgb(255, 171, 72) */
    --warning-400: 255 153 33; /* rgb(255, 153, 33) */
    --warning-500: 249 134 0; /* rgb(249, 134, 0) */
    --warning-600: 212 114 0; /*  rgb(212, 114, 0) */
    --warning-700: 174 94 0; /* rgb(174, 94, 0) */
    --warning-800: 137 74 0; /* rgb(137, 74, 0) */
    --warning-900: 100 54 0; /* rgb(100, 54, 0) */

    --error-100: 246 171 171; /* rgb(246, 171, 171) */
    --error-200: 243 139 139; /* rgb(243, 139, 139) */
    --error-300: 240 107 107; /* rgb(240, 107, 107) */
    --error-400: 236 76 76; /* rgb(236, 76, 76) */
    --error-500: 233 44 44; /* rgb(233, 44, 44) */
    --error-600: 213 22 22; /* rgb(213, 22, 22) */
    --error-700: 176 18 18; /* rgb(176, 18, 18) */
    --error-800: 138 14 14; /* rgb(138, 14, 14) */
    --error-900: 100 10 10; /* rgb(100, 10, 10) */

    --gray-100: 75 75 75; /* rgb(75, 75, 75) 70% */
    --gray-200: 100 100 100; /* rgb(100, 100, 100) 60% */
    --gray-300: 125 125 125; /* rgb(125, 125, 125) 50% */
    --gray-400: 150 150 150; /* rgb(150, 150, 150) 40% */
    --gray-500: 175 175 175; /* rgb(175, 175, 175) 30% */
    --gray-600: 200 200 200; /* rgb(200, 200, 200) 20% */
    --gray-700: 212 212 212; /* rgb(212, 212, 212) 15% */
    --gray-800: 225 225 225; /* rgb(225, 225, 225) 10% */
    --gray-900: 237 237 237; /* rgb(237, 237, 237) 5% */
  }

  .dark {
    --white: 250 250 250; /* rgb(250, 250, 250) */
    --black: 28 28 28; /* rgb(28, 28, 28) */

    --text-color: 242 242 242; /* rgb(242, 242, 242) */

    --primary-100: 161 210 255; /* rgb(161, 210, 255) */
    --primary-200: 126 193 255; /* rgb(126,193,255) */
    --primary-300: 91 177 255; /* rgb(91,177,255) */
    --primary-400: 56 160 255; /* rgb(56, 160, 255) */
    --primary-500: 21 143 255; /* rgb(21, 143, 255) */
    --primary-600: 0 122 235; /* rgb(0,122,235) */
    --primary-700: 0 101 193; /* rgb(0, 101, 193) */
    --primary-800: 0 79 152; /* rgb(0, 79, 152) */
    --primary-900: 0 58 110; /* rgb(0, 58, 110) */

    --success-100: 152 244 178; /* rgb(152, 244, 178) */
    --success-200: 114 240 149; /* rgb(114, 240, 149) */
    --success-300: 75 235 120; /* rgb(75, 235, 120) */
    --success-400: 36 231 91; /* rgb(36, 231, 91) */
    --success-500: 22 203 73; /* rgb(22, 203, 73) */
    --success-600: 19 173 62; /* rgb(19, 173, 62) */
    --success-700: 15 142 51; /* rgb(15, 142, 51) */
    --success-800: 12 112 40; /* rgb(12, 112, 40) */
    --success-900: 9 81 29; /* rgb(9, 81, 29) */

    --warning-100: 255 217 171; /* rgb(255, 217, 171) */
    --warning-200: 255 202 139; /* rgb(255, 202, 139) */
    --warning-300: 255 188 108; /* rgb(255, 188, 108) */
    --warning-400: 255 173 77; /* rgb(255, 173, 77) */
    --warning-500: 255 159 45; /* rgb(255, 159, 45) */
    --warning-600: 255 138 0; /* rgb(255, 138, 0) */
    --warning-700: 210 114 0; /* rgb(210, 114, 0) */
    --warning-800: 165 90 0; /* rgb(165, 90, 0) */
    --warning-900: 120 65 0; /* rgb(120, 65, 0) */

    --error-100: 252 179 179; /* rgb(252, 179, 179) */
    --error-200: 251 150 150; /* rgb(251, 150, 150) */
    --error-300: 249 122 121; /* rgb(249, 122, 121) */
    --error-400: 248 93 93; /* rgb(248, 93, 93) */
    --error-500: 247 65 64; /* rgb(247, 65, 64) */
    --error-600: 245 20 19; /* rgb(245, 20, 19) */
    --error-700: 209 10 9; /* rgb(209, 10, 9) */
    --error-800: 164 8 7; /* rgb(164, 8, 7) */
    --error-900: 119 6 5; /* rgb(119, 6, 5) */

    --gray-100: 187 187 187; /* rgb(187, 187, 187) 70% */
    --gray-200: 164 164 164; /* rgb(164, 164, 164) 60% */
    --gray-300: 141 141 141; /* rgb(141, 141, 141) 50% */
    --gray-400: 119 119 119; /* rgb(119, 119, 119) 40% */
    --gray-500: 96 96 96; /* rgb(96, 96, 96) 30% */
    --gray-600: 73 73 73; /* rgb(73, 73, 73) 20% */
    --gray-700: 62 62 62; /* rgb(62, 62, 62) 15% */
    --gray-800: 51 51 51; /* rgb(51, 51, 51) 10% */
    --gray-900: 39 39 39; /* rgb(39, 39, 39) 5% */
  }

  body {
    @apply bg-gray-900 font-poppins text-typography-primary antialiased scroll;
  }
}
