@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 255 255 255; /* #ffffff */
    --black: 28 28 28; /* #1c1c1c */

    --primary-50: 229 243 255; /* #E5F3FF */
    --primary-100: 204 230 255; /* #CCE6FF */
    --primary-200: 153 206 255; /* #99CEFF */
    --primary-300: 102 181 255; /* #66B5FF */
    --primary-400: 51 156 255; /* #339CFF */
    --primary-500: 0 133 255; /* #0085FF */
    --primary-600: 0 105 204; /* #0069CC */
    --primary-700: 0 79 153; /* #004F99 */
    --primary-800: 0 53 102; /* #003566 */
    --primary-900: 0 26 51; /* #001A33 */
    --primary-950: 0 13 25; /* #000D19 */

    --success-50: 224 255 233; /* E0FFE9 */
    --success-100: 189 255 207; /* BDFFCF */
    --success-200: 128 255 164; /* 80FFA4 */
    --success-300: 61 255 116; /* 3DFF74 */
    --success-400: 0 250 71; /* 00FA47 */
    --success-500: 0 186 52; /* #00BA34 */
    --success-600: 0 148 42; /* 00942A */
    --success-700: 0 112 32; /* 007020 */
    --success-800: 0 77 22; /* 004D16 */
    --success-900: 0 36 10; /* 00240A */
    --success-950: 0 20 6; /* 001406 */

    --warning-50: 255 243 229; /* FFF3E5 */
    --warning-100: 255 231 204; /* FFE7CC */
    --warning-200: 255 207 153; /* FFCF99 */
    --warning-300: 255 181 97; /* FFB561 */
    --warning-400: 255 157 46; /* FF9D2E */
    --warning-500: 249 134 0; /* #F98600 */
    --warning-600: 199 106 0; /*  C76A00 */
    --warning-700: 148 79 0; /* 944F00 */
    --warning-800: 102 54 0; /* 663600 */
    --warning-900: 51 27 0; /* 331B00 */
    --warning-950: 25 14 0; /* 190E00 */

    --error-50: 253 232 232; /* FDE8E8 */
    --error-100: 251 213 213; /* FBD5D5 */
    --error-200: 246 172 172; /* F6ACAC */
    --error-300: 242 130 130; /* F28282 */
    --error-400: 237 84 84; /* ED5454 */
    --error-500: 233 44 44; /* #E92C2C */
    --error-600: 199 21 21; /* C71515 */
    --error-700: 152 16 16; /* 981010 */
    --error-800: 102 11 11; /* 660B0B */
    --error-900: 51 5 5; /* 330505 */
    --error-950: 23 2 2; /* 170202 */

    --gray-100: 28 28 28; /* #1C1C1C */
    --gray-200: 88 87 87; /* #585757 */
    --gray-300: 150 150 150; /* #969696 */
    --gray-350: 193 193 193; /* #C1C1C1 */
    --gray-400: 235 235 235; /* #EBEBEB */

    --foreground: 255 255 255; /* #ffffff */
    --background: 247 247 247; /* #f7f7f7 */
    --background-color-primary: var(--primary-500) / 0.1;
    --background-color-success: var(--success-500) / 0.1;
    --background-color-warning: var(--warning-500) / 0.1;
    --background-color-error: var(--error-500) / 0.1;
  }

  .dark {
    --primary-50: 229 243 255; /* E5F3FF */
    --primary-100: 209 233 255; /* D1E9FF */
    --primary-200: 163 211 255; /* A3D3FF */
    --primary-300: 117 188 255; /* 75BCFF */
    --primary-400: 66 164 255; /* 42A4FF */
    --primary-500: 22 143 255; /* #168FFF */
    --primary-600: 0 113 219; /* 0071DB */
    --primary-700: 0 87 168; /* 0057A8 */
    --primary-800: 0 58 112; /* 003A70 */
    --primary-900: 0 29 56; /* 001D38 */
    --primary-950: 0 13 25; /* 000D19 */

    --success-50: 228 252 234; /* E4FCEA */
    --success-100: 205 249 217; /* CDF9D9 */
    --success-200: 154 244 180; /* 9AF4B4 */
    --success-300: 104 238 142; /* 68EE8E */
    --success-400: 49 232 101; /* 31E865 */
    --success-500: 23 203 73; /* #17CB49 */
    --success-600: 18 160 58; /* 12A03A */
    --success-700: 14 124 45; /* 0E7C2D */
    --success-800: 9 82 30; /* 09521E */
    --success-900: 5 41 15; /* 05290F */
    --success-950: 2 18 7; /* 021207 */

    --warning-50: 255 246 235; /* FFF6EB */
    --warning-100: 255 237 214; /* FFEDD6 */
    --warning-200: 255 218 173; /* FFDAAD */
    --warning-300: 255 198 128; /* FFC680 */
    --warning-400: 255 179 87; /* FFB357 */
    --warning-500: 255 159 45; /* #FF9F2D */
    --warning-600: 240 132 0; /* F08400 */
    --warning-700: 179 98 0; /* B36200 */
    --warning-800: 122 67 0; /* 7A4300 */
    --warning-900: 61 34 0; /* 3D2200 */
    --warning-950: 31 17 0; /* 1F1100 */

    --error-50: 254 235 235; /* FEEBEB */
    --error-100: 253 216 216; /* FDD8D8 */
    --error-200: 252 177 177; /* FCB1B1 */
    --error-300: 250 142 142; /* FA8E8E */
    --error-400: 249 103 103; /* F96767 */
    --error-500: 247 65 65; /* #F74141 */
    --error-600: 240 10 10; /* F00A0A */
    --error-700: 181 8 8; /* B50808 */
    --error-800: 117 5 5; /* 750505 */
    --error-900: 59 2 2; /* 3B0202 */
    --error-950: 29 1 1; /* 1D0101 */

    --gray-100: 234 234 234; /* #eaeaea */
    --gray-200: 192 192 192; /* #c0c0c0 */
    --gray-300: 123 123 123; /* #7b7b7b */
    --gray-350: 85 85 85; /* #555555 */
    --gray-400: 46 46 46; /* #2e2e2e */

    --foreground: 17 17 17; /* #111111 */
    --background: 28 28 28; /* #1C1C1C */
    --background-color-primary: var(--primary-500) / 0.25;
    --background-color-success: var(--success-500) / 0.25;
    --background-color-warning: var(--warning-500) / 0.25;
    --background-color-error: var(--error-500) / 0.25;
  }
}

@layer {
  body {
    @apply bg-background font-poppins text-gray-100 antialiased scroll;
  }
}
