@import "tailwindcss";

@import "./typography.css";
@import "./palette.css";
@import "./animation.css";
@import "./scroll.css";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background font-poppins text-foreground text-body-default antialiased;
  }
}

@utility container {
  @apply mx-auto max-w-7xl px-4 sm:px-8;
}

@utility container-* {
  max-width: --value(--container-*);
  @apply mx-auto;
}
