@import "tailwindcss";

@layer base {
  * {
    /* width */
    ::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: var(--color-app-background);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--color-gray-400);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--color-gray-350);
    }
  }
}
